<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-Product-NODEJS</title>
    <base href="/">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="header-title">
        <h1>Product list</h1>
        <a href="http://localhost:3000/" class="fake-button">Home</a>
    </div>
    <table class="zigzag">
        <thead>
            <tr>
                <th class="header">Name</th>
                <th class="header">Quantity</th>
                <th class="header">Price</th>
                <th class="header">Decription</th>
                <th class="header">Image</th>
            </tr>
        </thead>
        <tbody>
            <% for (let p of products) {%>

                <tr>
                    <td class="product-title">
                        <%= p.name %>
                    </td>
                    <td>
                        <%= p.quantity %>
                    </td>
                    <td>
                        <%= p.price %>
                    </td>
                    <td>
                        <%= p.decription %>
                    </td>
                    <td>
                        <img class="product-image" src="<%= p.image %>" alt="">
                    </td>
                </tr>
                <% } %>

        </tbody>
    </table>

</body>

</html>